.nav_container {
  display: flex;
  max-width: 1440px;
  height: 70px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-around;
}
.nav_ul {
  display: flex;
  max-width: 475px;
  height: 24px;
  list-style-type: none;
  gap: 40px;
}
